<%- include("header")%>
<!--  -->
<%- include("nav")%>

<!--  -->

<div id="div">
    <h1>Forget Password</h1>
<br><br>
<form action="/send-mail" method="POST">
    <input type="email" placeholder="email" name="email" />
    <br><br>
    <button>Send Mail</button>
    <br />
</form>

</div>
<!--  -->
<%- include("footer")%>