<%- include("header")%>
<!--  -->
<%- include("nav")%>

<!--  -->

<div id="div">
    <h1>Reset Password</h1>
<br><br>
<form action="/resetpassword/<%= id%>" method="POST">
    <input type="password" placeholder="New Password" name="password" />
    <br><br>
    <button>Reset Password</button>
    <br />
</form>

</div>
<!--  -->
<%- include("footer")%>