<%- include("header.ejs")%>
<%- include("nav.ejs")%>
<br><br>
<div id="div">
    <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="username" />
        <br><br>
        <input type="password" name="password" placeholder="password" />
        <br><br>
        <input type="email" name="email" placeholder="email" />
        <br><br>
        <button>Signup</button>
        &nbsp;&nbsp;
        <a href="/signin">Sign in</a>
    </form>
</div>

<%- include("footer.ejs")%>